.header {
  min-height: 64px;
  padding: 0 20px;
}

.header__navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
}

.header__logo {
  margin-right: auto;
  margin-bottom: 17px;
}

.header__menu-button {
  position: relative;
  display: block;
  width: 29px;
  height: 26px;
  margin-top: 8px;
  padding: 5px;
  padding-right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    .pseudo();
    top: 5px;
    left: 5px;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    box-shadow: 0 7.3px 0 0 #000000, 0 14.6px 0 0 #000000;
  }

  &--close {
    &::after {
      .pseudo();
      top: 50%;
      left: 50%;
      width: 24px;
      height: 1.5px;
      background-color: #000000;
      box-shadow: 0 0 0 0 #000000;
      transform: translate(-50%) rotate(-45deg);
    }

    &::before {
      .pseudo();
      top: 50%;
      left: 50%;
      width: 24px;
      height: 1.5px;
      background-color: #000000;
      transform: translate(-50%) rotate(45deg);
    }
  }
}

// Tablet-styles
@media (min-width: @tablet_width) {
  .header {
    min-height: 78px;
    padding: 0 30px;
  }

  .header__navigation {
    align-items: flex-start;
    row-gap: 20px;
    padding-top: 0;
  }

  .header__logo {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }

  .header__menu-button {
    display: none;
  }

  .header__menu {
    margin-right: 3px;
    margin-left: 20px;
  }
}

// Desktop-styles
@media (min-width: @desktop_width) {
  .header {
    position: relative;
    min-height: 112px;

    &--second::before {
      .pseudo();
      top: 0;
      left: 50%;
      width: 50%;
      height: calc(100% + 4px);
      background-color: @color-background-image;
      z-index: -2;
    }
  }

  .header__navigation {
    margin: 0 auto;
    padding-top: 53px;
  }

  .header__menu {
    margin-left: 40px;
  }
}
