.example {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #eaeaea;
}

.example__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__footnote {
  display: flex;
  flex-wrap: wrap;
  min-height: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.example__weight {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  min-height: 56px;
  margin-right: 32px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.example__footnote-title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example__time {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.example__footnote-sign {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 77px;
  text-align: center;
  color: #444444;
  font-size: 12px;
  line-height: 100%;
  background-color: #eaeaea;
  transform: translateY(-50%) translateX(-50%);
}

.example__expenses {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.example__slider {
  margin: 0 auto;
}
