.index__preview {
  margin: 0;
  margin-bottom: 22px;
}

.index__suggestions {
  margin: 0;
  margin-bottom: 20px;
}

.index__benefits {
  margin: 0;
  margin-bottom: 49px;
}

.index__example {
  margin: 0;
}

.index__contacts {
  margin: 0;
  margin-bottom: 39px;
}
