.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: 37px;
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
}

.form__questionnaire {
  margin: 0 auto;
  margin-bottom: 32px;
}

.form__contacts {
  margin: 0;
  margin-bottom: 39px;
}
