[type="radio"]:checked + .input--radio {
  background-color: #68b738;
}

[type="radio"]:focus-visible + .input--radio {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

[type="checkbox"]:checked + .input--checkbox {
  background-image: url("../img/form-img/svg/input-checkbox-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

[type="checkbox"]:focus-visible + .input--checkbox {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.input {
  max-width: 100%;
  min-width: 0;
  min-height: 45px;
  padding: 0 20px;
  .oswald();
  color: @color-text;
  .font-source(@size-midle, 20px);
  border: 1px solid #d9d9d9;

  &::placeholder {
    color: @color-text;
    text-transform: uppercase;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus-visible {
    outline: none;
    border: 2px solid #000000;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  &::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    display: none;
  }

  &--contacts {
    padding-left: 12px;
  }

  &--radio {
    width: 30px;
    height: 30px;
    min-height: 0;
    margin: 0;
    padding: 0;
    border: 7px solid #ffffff;
    box-shadow: 0 0 0 1px #dedede;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      border: 7px solid #ffffff;
      box-shadow: 0 0 0 1px #cdcdcd;
    }

    &:active {
      opacity: 0.3;
      border: 7px solid #ffffff;
      box-shadow: 0 0 0 1px #cdcdcd;
    }
  }

  &--checkbox {
    width: 30px;
    height: 30px;
    min-height: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &:active {
      opacity: 0.3;
      border: 1px solid #cdcdcd;
    }
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  .oswald();
  color: @color-text;
  .font-source(@size-midle);
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }
}

.input-wrapper__label {
  cursor: pointer;
}

.input-wrapper__icon {
  position: absolute;
  top: calc(50% - 6px);
  right: 14px;
  stroke: #000000;

  .input:focus-visible + & {
    stroke: #68b738;
  }

  .input:invalid + & {
    stroke: #ff8282;
  }
}

// Tablet-styles
@media (min-width: @tablet_width) {
  .input {
    max-width: 100%;
    min-height: 52px;
    .font-source(@size-extramidle-tablet, 30px);

    &--radio {
      width: 40px;
      height: 40px;
      min-height: 0;
    }

    &--contacts {
      padding-left: 20px;
    }

    &--checkbox {
      width: 40px;
      height: 40px;
      min-height: 0;
    }
  }

  .input-wrapper {
    .font-source(@size-extramidle-tablet, 30px);
  }
}

// Desktop-styles
@media (min-width: @desktop_width) {
  .input-wrapper__icon {
    top: calc(50% - 8px);
    right: 15px;
  }
}
