.additional-goods {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.additional-goods__fieldset {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 400px;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  border: none;
  border-top: 2px solid #68b738;
}

.additional-goods__title {
  max-width: 266px;
  margin: 0;
  padding: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-goods__cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;
  list-style: none;
}

.additional-goods__card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.additional-goods__card-title {
  width: 100%;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: #222222;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: start;
  text-transform: uppercase;
}

.additional-goods__card-amount {
  max-width: 140px;
  margin: 0;
  margin-bottom: 15px;
  margin-right: auto;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
}

.additional-goods__card-price {
  max-width: 100px;
  color: #444444;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.additional-goods__card-button {
  width: 100%;
}
