.footer {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 22px;
}

.footer__section-logo {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 32px;
}

.footer__social {
  margin: 0;
  margin-bottom: 22px;
}
